<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthcare Portal</title>

  <!-- Bootstrap CSS -->
	<script src="https://kit.fontawesome.com/ad92737229.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  <!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header header-custom header-fixed header-one">
				<div class="container">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="/static/img/logo.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="/static/img/logo.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="/">Home <i class="fas fa-chevron-down"></i></a>

							</li>
								<li class="has-submenu">
									<a href="/doctor_dashboard">Doctors <i class="fas fa-chevron-down"></i></a>

								</li>
								<li class="has-submenu">
									<a href="/patient_dashboard">Patients <i class="fas fa-chevron-down"></i></a>

								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pharmacy <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="pharmacy-index.html">Pharmacy</a></li>
										<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
										<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
										<li><a href="product-all.html">Product</a></li>

										<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
									</ul>
								</li>

								<li class="has-submenu">
									<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="blog-list.html">Blog List</a></li>
										<li><a href="blog-grid.html">Blog Grid</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="/admin_login" target="_blank">Admin</a></li>
										<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
									</ul>
								</li>
								<li class="searchbar">
									<a href="javascript:void(0);"><i class="feather-search"></i></a>
									<div class="togglesearch">
										<form action="search.html">
											<div class="input-group">
												<input type="text" class="form-control">
												<button type="submit" class="btn">Search</button>
											</div>
										</form>
									</div>
								</li>

							</ul>
						</div>
					</nav>
				</div>
			</header>
		<!-- /Header -->


        <!-- Breadcrumb -->
			<div class="breadcrumb-bar-two">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<h2 class="breadcrumb-title">Dashboard</h2>
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item" aria-current="page">Dashboard</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->


        <!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">

						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{{patient_info.image_url}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>{{patient_full_name}}</h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="patient-dashboard.html">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="/search_doctor">
													<i class="fas fa-calendar-check"></i>
													<span>Book an Appointment</span>
												</a>
											</li>
											<li>
												<a href="favourites.html">
													<i class="fas fa-bookmark"></i>
													<span>Favourites</span>
												</a>
											</li>
											<li>
												<a href="dependent.html">
													<i class="fas fa-users"></i>
													<span>Dependent</span>
												</a>
											</li>
											<li>
												<a href="medical-records.html">
													<i class="fas fa-clipboard"></i>
													<span>Add Medical Records</span>
												</a>
											</li>
											<li>
												<a href="medical-details.html">
													<i class="fas fa-file-medical-alt"></i>
													<span>Medical Details</span>
												</a>
											</li>
											<li>
												<a href="/patient_profile_settings">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="change-password.html">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="/patient_logout">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<!-- / Profile Sidebar -->

						<div class="col-md-7 col-lg-8 col-xl-9">

							<div class="row">
								<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
									<div class="card">
										<div class="card-body text-center">
											<div class="mb-3">
												<img src="static/img/pt-dashboard-01.png" alt="heart-image" width="55">
											</div>
											<h5>Heart Rate</h5>
											<h6>12 <sub>bpm</sub></h6>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
									<div class="card">
										<div class="card-body text-center">
											<div class="mb-3">
												<img src="static/img/pt-dashboard-02.png" alt="thermometer-image" width="55">
											</div>
											<h5>Body Temperature</h5>
											<h6>18 <sub>C</sub></h6>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
									<div class="card">
										<div class="card-body text-center">
											<div class="mb-3">
												<img src="static/img/pt-dashboard-03.png" alt="hospital-equipment" width="55">
											</div>
											<h5>Glucose Level</h5>
											<h6>70 - 90</h6>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
									<div class="card">
										<div class="card-body text-center">
											<div class="mb-3">
												<img src="static/img/pt-dashboard-04.png" alt="hospital-equipment" width="55">
											</div>
											<h5>Blood Pressure</h5>
											<h6>202/90 <sub>mg/dl</sub></h6>
										</div>
									</div>
								</div>
							</div>



							<div class="card">
								<div class="card-body pt-0">

									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-bs-toggle="tab">Appointments</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_prescriptions" data-bs-toggle="tab">Prescriptions</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_medical_records" data-bs-toggle="tab"><span class="med-records">Medical Records</span></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_billing" data-bs-toggle="tab">Billing</a>
											</li>
										</ul>
									</nav>
									<!-- /Tab Menu -->

									<!-- Tab Content -->
									<div class="tab-content pt-0">

										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Doctor</th>
																	<th>Appt Date</th>
																	<th>Status</th>

																</tr>
															</thead>
															<tbody>
																{% for appointment in appointments %}
																<tr>
																	<td>
																		<h2 class="table-avatar">
																			<a href="/doctor_profile/{{appointment.doctor_info._id}}" class="avatar avatar-sm me-2">
																				<img class="avatar-img rounded-circle" src="{{appointment.doctor_info.image_url}}" alt="">
																			</a>
																			<a href="/doctor_profile/{{appointment.doctor_info._id}}">{{appointment.doctor_info.username}} <span>{{appointment.doctor_info.specialty}}</span></a>
																		</h2>
																	</td>
																	<td>{{appointment.formatted_date}} <span class="d-block text-info">{{appointment.time}}</span></td>

																	<td><span class="badge rounded-pill bg-success-light">{{appointment.status}}</span></td>
																	<td>
																		<div class="table-action">
																			<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																			<a href="/appointment_details/{{appointment._id}}" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																		</div>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>

										<!-- /Appointment Tab -->
									</div>
									<!-- Tab Content -->
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- /Page Content -->


		<!-- Footer -->
			<footer class="footer footer-one">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">For Patients</h2>
											<ul>
												<li><a href="search.html">Search for Doctors</a></li>
												<li><a href="login.html">Login</a></li>
												<li><a href="register.html">Register</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">For Doctors</h2>
											<ul>
												<li><a href="appointments.html">Appointments</a></li>
												<li><a href="chat.html">Chat</a></li>
												<li><a href="login.html">Login</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6 col-md-4">
										<div class="footer-widget footer-contact">
											<h2 class="footer-title">Contact Us</h2>
											<div class="footer-contact-info">
												<div class="footer-address">
													<p><i class="feather-map-pin"></i> 3556 Beech Street, Coventry</p>
												</div>
												<div class="footer-address">
													<p><i class="feather-phone-call"></i> +44 315 369 5943</p>
												</div>
												<div class="footer-address mb-0">
													<p><i class="feather-mail"></i> ola</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-7">
								<div class="footer-widget">
									<h2 class="footer-title">Join Our Newsletter</h2>
									<div class="subscribe-form">
										<form action="#">
		                                    <input type="email" class="form-control" placeholder="Enter Email">
		                                    <button type="submit" class="btn">Submit</button>
	                                    </form>
	                                </div>
									<div class="social-icon">
									<ul>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-facebook"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
										</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"> Copyright © 2024 <a href="" target="_blank">STEP-CARE.</a> All Rights Reserved</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">

									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="terms-condition.html">Terms and Conditions</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->

								</div>
							</div>
						</div>
						<!-- /Copyright -->
					</div>
				</div>
			</footer>
			<!-- /Footer -->
	</div>
	<!-- /Main Wrapper -->

</body>
</html>

