<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthcare Portal</title>

  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  <!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header header-custom header-fixed header-one">
				<div class="container">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="/static/img/logo.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="/static/img/logo.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="javascript:void(0);">Home <i class="fas fa-chevron-down"></i></a>

							</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>

								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>

								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pharmacy <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="pharmacy-index.html">Pharmacy</a></li>
										<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
										<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
										<li><a href="product-all.html">Product</a></li>

										<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
									</ul>
								</li>

								<li class="has-submenu">
									<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="blog-list.html">Blog List</a></li>
										<li><a href="blog-grid.html">Blog Grid</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="/admin_login" target="_blank">Admin</a></li>
										<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
									</ul>
								</li>
								<li class="searchbar">
									<a href="javascript:void(0);"><i class="feather-search"></i></a>
									<div class="togglesearch">
										<form action="search.html">
											<div class="input-group">
												<input type="text" class="form-control">
												<button type="submit" class="btn">Search</button>
											</div>
										</form>
									</div>
								</li>
								<li class="login-link"><a href="login.html">Login / Signup</a></li>
								<li class="register-btn">
									<a href="/patient_registration" class="btn reg-btn"><i class="feather-user"></i>Register</a>
								</li>
								<li class="register-btn">
									<a href="/patient_login" class="btn btn-primary log-btn"><i class="feather-lock"></i>Login</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
		<!-- /Header -->

		<!-- Page Content -->
			<div class="content top-space">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Login Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="/static/img/logo.png" class="img-fluid" alt="">
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Doctor Login <a href="/patient_login">Are you a Patient?</a></h3>
										</div>

										<!-- login Form -->
										<form action="/doctor_login" method="post">
											<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                            <div class="mb-3">
                                                <label for="phone_number" class="form-label">Phone Number</label>
                                                <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="password" name="password" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </form>



										<!-- /login Form -->

									</div>
								</div>
							</div>
							<!-- /login Content -->

						</div>
					</div>

				</div>

			</div>
			<!-- /Page Content -->

		<!-- Footer -->
			<footer class="footer footer-one">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">For Patients</h2>
											<ul>
												<li><a href="search.html">Search for Doctors</a></li>
												<li><a href="login.html">Login</a></li>
												<li><a href="register.html">Register</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">For Doctors</h2>
											<ul>
												<li><a href="appointments.html">Appointments</a></li>
												<li><a href="chat.html">Chat</a></li>
												<li><a href="login.html">Login</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6 col-md-4">
										<div class="footer-widget footer-contact">
											<h2 class="footer-title">Contact Us</h2>
											<div class="footer-contact-info">
												<div class="footer-address">
													<p><i class="feather-map-pin"></i> 3556 Beech Street, Coventry</p>
												</div>
												<div class="footer-address">
													<p><i class="feather-phone-call"></i> +44 315 369 5943</p>
												</div>
												<div class="footer-address mb-0">
													<p><i class="feather-mail"></i> ola</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-7">
								<div class="footer-widget">
									<h2 class="footer-title">Join Our Newsletter</h2>
									<div class="subscribe-form">
										<form action="#">
		                                    <input type="email" class="form-control" placeholder="Enter Email">
		                                    <button type="submit" class="btn">Submit</button>
	                                    </form>
	                                </div>
									<div class="social-icon">
									<ul>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-facebook"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
										</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"> Copyright © 2024 <a href="" target="_blank">STEP-CARE.</a> All Rights Reserved</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">

									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="terms-condition.html">Terms and Conditions</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->

								</div>
							</div>
						</div>
						<!-- /Copyright -->
					</div>
				</div>
			</footer>
			<!-- /Footer -->



	</div>
	<!-- /Main Wrapper -->

</body>
</html>

